table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableHeader {
  text-align: center;
}

.container {
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
